
/.vscode
/API\ButtonMorse\.venv\__pycache__
/API\ButtonMorse\.venv\Include
/API\ButtonMorse\.venv\Scripts
/API\ButtonMorse\.venv\pyvenv.cfg
API/ButtonMorse/.venv/__pycache__/ButtonMorse.cpython-312.pyc

API/ButtonMorse/.venv/Lib/site-packages/blinker-1.8.2.dist-info/RECORD
/API/ButtonMorse/.venv
